USE [master]
GO
/****** Object:  Database [MADEM]    Script Date: 24/06/2018 23:26:53 ******/
CREATE DATABASE [MADEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MADEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ALBERTSQL\MSSQL\DATA\MADEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MADEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ALBERTSQL\MSSQL\DATA\MADEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MADEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MADEM]
GO
USE [MADEM]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ID_ADMINISTRADOR] [int] NOT NULL,
	[NOMBRE_ADMINISTRADOR] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADMINISTRADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] NOT NULL,
	[DESCRIPCION_CATEGORIA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[DESCRIPCION_CLIENTE] [varchar](100) NULL,
	[RUC] [varchar](11) NULL,
	[DIRECCION] [varchar](100) NULL,
	[CORREO] [varchar](50) NULL,
	[DISTRITO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[numeros]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[numeros](
	[numero] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [int] NOT NULL,
	[CLIENTE] [varchar](15) NULL,
	[FECHA_DE_EMISION] [varchar](20) NULL,
	[DESC_PEDIDO] [varchar](200) NULL,
	[MONTO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](40) NULL,
	[ID_CATEGORIA] [int] NULL,
	[STOCK_PRODUCTO] [int] NULL,
	[FECHA_INGRESO] [varchar](12) NULL,
	[ID_PROVEEDOR] [int] NULL,
	[PRECIO_COMPRA] [float] NULL,
	[PRECIO_POR_UNIDAD] [float] NULL,
	[PRECIO_TOTAL]  AS ([STOCK_PRODUCTO]*[PRECIO_POR_UNIDAD]),
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_ADMINISTRADOR] [int] NULL,
	[USUARIO] [varchar](20) NULL,
	[PASS_ADMIN] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 24/06/2018 23:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[producto] [varchar](40) NULL,
	[cantidad] [int] NULL,
	[ganancia] [float] NULL,
	[fecha] [varchar](12) NULL,
	[tipo_pago] [varchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ADMINISTRADOR])
REFERENCES [dbo].[ADMINISTRADOR] ([ID_ADMINISTRADOR])
GO
/****** Object:  StoredProcedure [dbo].[sp_Modificar]    Script Date: 24/06/2018 23:26:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Modificar](
@cod int,
@nombre varchar(40),
@stock int,
@fecha_i varchar(12),
@precio float,
@precio_uni float
)
as
begin
update PRODUCTO
SET 
	NOMBRE_PRODUCTO = @nombre,
	STOCK_PRODUCTO = @stock,
	FECHA_INGRESO = @fecha_i,
	PRECIO_COMPRA = @precio, 
	PRECIO_POR_UNIDAD = @precio_uni
WHERE ID_PRODUCTO = @cod
end
GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_stock]    Script Date: 24/06/2018 23:26:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_modificar_stock](
@nom_produc varchar(40),
@cantidad int)
as
update PRODUCTO
set STOCK_PRODUCTO = (STOCK_PRODUCTO - @cantidad)
where NOMBRE_PRODUCTO=@nom_produc
GO
/****** Object:  StoredProcedure [dbo].[sp_Registrar]    Script Date: 24/06/2018 23:26:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_Registrar](
	@cod_pro int,
	@nom_prod varchar(40),
	@des_prov VARCHAR(50),
	@precio_total float,
	@precio_pro_uni float,
	@stock_pro int,
	@fec_ingre VARCHAR(12),
	@des_cat varchar(50)
)
as
begin
declare 
	@cod_Cat int
declare 
	@cod_prov int
set 
	@cod_Cat = (select c.ID_CATEGORIA from CATEGORIA c where c.DESCRIPCION_CATEGORIA = @des_cat)
set
	@cod_prov = (select p.ID_PROVEEDOR from PROVEEDOR p where p.DESCRIPCION = @des_prov)
insert into PRODUCTO
values(@cod_pro,@nom_prod,@cod_Cat,@stock_pro,@fec_ingre, @cod_prov, @precio_total, @precio_pro_uni)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_registrarPedido]    Script Date: 24/06/2018 23:26:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_registrarPedido](
@idped int,
@cli varchar(15),
@fechemi varchar(20),
@Desc varchar(200),
@mont float
)
as
insert into PEDIDO Values(@idped, @cli, @fechemi, @Desc, @mont)
GO
/****** Object:  StoredProcedure [dbo].[sp_registrarVenta]    Script Date: 24/06/2018 23:26:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_registrarVenta](
@nom varchar(40),
@cant int,
@ganacia float,
@fecha varchar(12),
@tipo_pago varchar(10)
)
as 
insert into ventas values(@nom, @cant, @ganacia, @fecha, @tipo_pago)
GO
USE [master]
GO
